.hero__section{
    display: flex;
    justify-content: center;
}
.hero__container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 600px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.hero__container h1 {
    text-align: center;
    font-style: italic;
    margin-bottom: 50px;
}
.lineUp {
    animation: 2s anim-lineUp;
  }
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
.hero__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding: 0px 10px;
}
.contacts__head {
    text-align: center;
    margin-bottom: 20px;
}
.hero__contacts li {
    display: flex;
    justify-content: space-between;
    background-color: var(--contacts);
    padding: 10px;
    border-radius: 15px;
}
.hero__contacts button {
    margin-left: 90px;
    transition: 0.5s;
}
.hero__contacts button:hover{
    color: red;
    transition: 0.5s;
}
.alert__copy {
    position: absolute;
    right: 40%;
    top: 65%;
    padding: 20px;
    background-color: var(--color);
    color: var(--background-color);
    border-radius: 30px;
}
.contactImg {
    width: 40px;
    height: auto;
}
.hero__code {
    padding: 40px;
    font-family: Roboto;
    justify-content: start;
    align-items: start;
    min-width: 300px;
    border: 2px solid rgba(176, 173, 173, 0.777);
    box-shadow: 4px 4px rgba(128, 128, 128, 0.69);
    overflow: hidden;
}
.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 200px;
}
  
.circle {
    height: 200px;
    width: 150px;
    border: 4px solid greenyellow;
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
    overflow: hidden;
    animation: morph 15s linear infinite;
    background-image: url('/images/user.jpg');
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
}

@keyframes morph{
    0%  { border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%; }
    5%  { border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%; }
    10% { border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%; }
    15% { border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%; }
    20% { border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%; }
    25% { border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%; }
    30% { border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%; }
    35% { border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%; }
    40% { border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%; }
    45% { border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%; }
    50% { border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%; }
    55% { border-radius: 28% 72% 37% 63% / 71% 44% 56% 29%; }    
    60% { border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%; }
    65% { border-radius: 73% 27% 46% 54% / 54% 47% 53% 46%; }
    70% { border-radius: 75% 25% 47% 53% / 49% 53% 47% 51%; }
    75% { border-radius: 62% 38% 43% 57% / 55% 60% 40% 45%; }
    80% { border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%; }
    85% { border-radius: 55% 45% 57% 43% / 73% 61% 39% 27%; }
    90% { border-radius: 74% 26% 33% 67% / 40% 65% 35% 60%; }
    95% { border-radius: 58% 42% 57% 43% / 53% 45% 55% 47%; }
    100%{ border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%; }
}
.text__color {
    color: brown;
}
.codePurple {
    color: brown;
}
.codeFiol {
    color: rgb(161, 82, 235);
}
.codeYellow {
    color: rgb(200, 200, 30);
}
.codeGreen {
    color: rgb(122, 189, 20);
}
.codeGrey {
    color:grey;
}
.hero__code button {
    position:relative; 
    left:120px; 
    top:15px;
    z-index: 3;
    overflow: hidden;
    padding: 10px 20px;
    border: 2px solid rgba(176, 173, 173, 0.777);
    box-shadow: 4px 4px rgba(128, 128, 128, 0.69);
    border-radius: 15px;
}
@media (max-width: 1200px) {
    .hero__container{
        min-width: 300px;
        max-height: 670px;
        margin: 20px;
    }
    .hero__container h1 {
        margin-bottom: 30px;
    }
    .hero__code {
        font-size: 0.9em;
    }
}
@media (max-width: 768px) {
    .hero__section{
        flex-direction: column;
    }
}